/* ----------------------------------------------------------------- */
/* --- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
/* _____________________________________________________________________________ */

/* section {
  padding: 9.6rem 0;
} */

*:focus {
  box-shadow: 0 0 0 5px hsla(37, 95%, 42%, 0.324);
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

/* important */

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.gr_gap {
  display: grid;
  gap: 6.4rem;
}

/* ______________________________________________ */

/* usefull */

.section_name {
  font-size: 2rem;
  color: #c96d1d;
}

.section_title {
  font-size: 3.6rem;
  font-weight: 700;
}

.margin_buttom_big {
  margin-bottom: 8rem;
}

.mT {
  margin-top: 30rem;
}

.margin_button {
  margin-bottom: 3.6rem;
}

.gt_collums_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gt_collums_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gt_collums_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gt_collums_5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gr_gap {
  gap: 6.4rem;
}
.gr-align-center {
  align-items: center;
}
.margin_left_sm {
  margin-right: 2.4rem;
}

/* custom arrow realy useble  */
.custom_icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5%;
  pointer-events: none;
}

.custom_icon_box {
  position: relative;
}

.flex {
  display: flex;
  gap: 2.4rem;
}

/* -------------------------------------------------------- */

/* navigaton */

.header {
  position: relative;
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.nav_links {
  padding: 1rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  color: #333;
  font-weight: 600;
}

.links li:last-child a {
  padding: 1.6rem 2.4rem;
  background-color: #e67e22;
  border-radius: 1rem;
  color: #fff;
}
.links li:last-child a:hover {
  color: #d1cece;
  background-color: #c96d1d;
}

.links li a:hover {
  color: #333;
}

.links li a {
  color: #333;
  font-size: 1.6rem;
}

.nav_logo {
  width: 15rem;
  /* align-self: center; */
}

.omnifood_logo {
  width: 100%;
  /* align-self: center; */
}

/*? mobile navigation */

.btn_mobile_tag {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon_mobile_nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon_mobile_nav[name="close-outline"] {
  display: none;
}

/* ________________________________________________________ */

/* hero */
.hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.img {
  width: 100%;
}

.title {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}

.secondary_text {
  font-size: 3rem;
  margin-bottom: 4.8rem;
  color: #6f6f6f;
}

.botton {
  display: flex;
}
.btn,
.main_button {
  color: #fff;
  justify-self: center;
  align-self: center;
}
.btn,
.main_button:link,
.main_button:visited {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 9px;
  font-size: 2rem;
  background-color: #eb984e;
}

.main_button:hover,
.main_button:active {
  background-color: #e67e22;
}

.more:visited,
.more:link {
  background-color: #fff;
  color: black;
}

.more:hover,
.more:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 5px #eb984e;
}

.repositors {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 3.2rem;
}

.reposotors_img {
  display: flex;
}

.reposotors_img img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  margin-right: -12px;
  border: 3px solid #fdf2e9;
}
.reposotors_img img:last-child {
  margin: 0;
}
.repositors_text {
  font-size: 2rem;
  color: #6f6f6f;
}

.repositors_text span {
  color: #e67e22;
}

/* __________________________________________________________ */

/* feachured in */

.featured_in {
  padding: 9.6rem 0;
}

.featured_titile {
  text-align: center;
  font-size: 2.4rem;
  filter: brightness(0);
  opacity: 40%;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 40%;
}

/* ____________________________________________________________ */

/* how it works */

.howItWorks {
  padding: 9.6rem 0;
}

.howItWorks_title {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 6.4rem;
  /* padding: 9.6rem 0; */
}

.how_it_works_component_text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 3rem;
}

.how_it_works_component_number {
  color: #bfbfbf;
  font-size: 5.2rem;
}

.component_text_title {
  font-weight: 700;
  font-size: 3rem;
}

.component_text_information {
  font-size: 2.4rem;
  color: #333;
}

.how_it_works_component_img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.how_it_works_component_img img {
  width: 35%;
}

.left_side,
.right_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.4rem;
}

.how_it_works_component_img::before {
  content: "";
  width: 65%;
  padding-bottom: 65%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -2;
}

.how_it_works_component_img::after {
  content: "";
  width: 50%;
  padding-bottom: 50%;
  background-color: #f2b47d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

/* ___________________________________________________________ */
/* _____________________________________________________________ */

.meal {
  padding: 9.6rem 0;
}

.meal_header {
  margin-bottom: 8rem;
}

.meals_meal {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.178);
  transition: all 0.3s;
  border-radius: 11px;
  overflow: hidden;
}

.meals_meal:hover {
  transform: translateY(-5rem);
}

.meals_meal_img {
  width: 100%;
  margin-bottom: 1.6rem;
}

.meals_name {
  font-size: 2rem;
  color: #c96d1d;
}

.meals_title {
  font-size: 3.6rem;
  font-weight: 700;
}
.mela-tags {
  display: flex;
  gap: 1.4rem;
}
.tips {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.4rem 0.8rem;

  border-radius: 100px;
  margin-bottom: 1.2rem;
}

.meals_meal_title {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 3.6rem;
}

.meals_meal_list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.meals_meal_list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.8rem;
}

.meals_icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #c96d1d;
}

.left_right_padding {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 2.4rem;
}

.vegetarian {
  background-color: #37b24d;
}
.vegan {
  background-color: limegreen;
}
.paleo {
  background-color: #ffd43b;
}

.diet_tittle {
  margin-bottom: 2.6rem;
  font-weight: 600;
  font-size: 3.6rem;
}

.list {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list_icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #c96d1d;
}

.see_also {
  color: #c96d1d;
  font-size: 2.4rem;
  display: inline-block;

  border-bottom: 1px solid #c96d1d;
}

.see_also:hover {
  border-bottom: 1px solid transparent;
}

.meals_link {
  text-align: center;
}

/* ____________________________________________________________________________ */

.Testimonial {
  background-color: #fdf2e9;
}

.grid_testimonial {
  align-items: center;
  display: grid;
  grid-template-columns: 60fr 40fr;
}

.title {
  margin-bottom: 3.4rem;
}

.testimonial_name {
  font-size: 2rem;
  color: #c96d1d;
}
.testimonial_title {
  font-size: 3.6rem;
  font-weight: 700;
}

.testimonials_img {
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}
.testimonials_text {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.testimonial_right {
  padding: 1.4rem 1.4rem 1.4rem 0;
  display: grid;
  gap: 1.4rem;
}

.testimonials_name {
  font-size: 1.8rem;
  color: #777;
}

.image_items {
  overflow: hidden;
}

.image_img {
  width: 100%;
  transition: all 0.7s;
}

.image_img:hover {
  transform: scale(1.3);
}

.testimonial_left {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: 9.6rem 6.4rem;
}

/* ____________________________________________________________________ */

.pricing {
  padding: 9.6rem 0;
}

.pricing_name {
  font-size: 2rem;
  color: #c96d1d;
}
.prising_tittle {
  font-size: 3.6rem;
  font-weight: 700;
}

.prising_header {
  margin-bottom: 4.8rem;
}

.price_container {
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
  width: 70%;
  border-radius: 11px;
  text-align: center;
}

.starter {
  border: 3px solid #fdf2e9;
  justify-self: end;
  padding: 4.5rem;
}

.complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}
.complete::after {
  content: "best value";
  position: absolute;
  right: -20%;
  top: 7%;
  background-color: #ffd43b;
  padding: 10px 0;
  width: 30rem;
  text-align: center;
  font-size: 1.8rem;
  transform: rotate(45deg);
  font-weight: 700;
}

.prising_header {
  margin-bottom: 4.8rem;
}

.list {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list_icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #c96d1d;
}

.price_list {
  margin-bottom: 6.8rem;
}

.price_tittle {
  text-align: center;
  font-weight: 600;
  font-size: 3.6rem;
  color: #c96d1d;
  margin-bottom: 3.2rem;
}

.price_price span {
  font-size: 3.6rem;
}

.price_price {
  text-align: center;
  font-weight: 700;
  font-size: 5.2rem;
  margin-bottom: 2.4rem;
}
.price_text {
  margin-bottom: 4.8rem;
  text-align: center;
  font-size: 2rem;
  color: #777;
}

.mergin_top_auto {
  margin-top: auto;
}

.feature_item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-self: center;
}
.feature_img {
  border-radius: 50%;
  color: #eb984e;
  background-color: #fdf2e9;
  padding: 1.6rem 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
}
.feature_title {
  font-size: 2.4rem;
  font-weight: 800;
}
.feature_text {
  font-size: 2rem;
  color: #6f6f6f;
}

.features_header {
  text-align: center;
  color: #6f6f6f;
  font-size: 1.6rem;
  margin-bottom: 6.4rem;
}
/* __________________________________________________________________________ */

.cta {
  padding: 9.6rem 0 12.8rem 0;
}

.cta_container {
  background: linear-gradient(#e67e22, #eb984e);
  border-radius: 20px;
  overflow: hidden;
}

.grid_cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cta_text {
  color: #36170c;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  font-size: 2rem;
}

.cta_img {
  background: linear-gradient(rgba(230, 125, 34, 0.35), rgba(235, 151, 78, 0.3)),
    url(img/eating.jpg);
  background-size: cover;
}
.cta-form input:focus,
.cta-form select:focus {
  box-shadow: 0 0 0 5px hsla(0, 0%, 0%, 0.324);
}

.cta-form input,
.cta-form select {
  font-size: 2rem;
  border-radius: 10px;
  padding: 1.2rem;
  width: 100%;
  cursor: pointer;
}
.cta-form label {
  display: block;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.cta-form select {
  appearance: none;
}

.form-gap {
  gap: 2.4rem;
}

.cta-button {
  width: 100%;
  background-color: #3f1b0e;
  font-size: 2rem;
  border-radius: 10px;
  padding: 1.2rem;
  align-self: end;
}
/* ____________________________________________________________________________ */
.footer {
  border-top: 5px solid #fdf2e9;
  padding: 12.8rem 0;
  color: #777;
}
.footer_grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer_logo {
  width: 18rem;
  align-self: center;
  margin-bottom: 2.4rem;
}

.footer_icon {
  filter: brightness(0);
  opacity: 60%;
  width: 2.4rem;
  height: 2.4rem;
}

.social_media_text {
  font-size: 1.6rem;
  color: inherit;
}

.margin_buttom {
  margin-bottom: 6.4rem;
}

.p_header {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.adress {
  color: inherit;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.phone a:link,
.phone a:visited,
.email a:link,
.email a:visited {
  color: #777;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.phone a:hover,
.phone a:active,
.email a:hover,
.email a:active {
  color: #333;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.footer_list_item {
  color: inherit;
}

.footer_list_item:link,
.footer_list_item:visited {
  font-size: 1.8rem;
  transition: all 0.3s;
}

.footer_list_item:hover,
.footer_list_item:active {
  color: #333;
}
/* ? medias __________________________________________________________________*/

@media (max-width: 1250px) {
  html {
    font-size: 50%;
  }

  .meals_meal_list {
    gap: 3rem;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 40%;
  }

  nav {
    font-size: 50%;
  }

  .hero_grid {
    grid-template-columns: 1fr;
  }

  .text {
    text-align: center;
  }

  .botton {
    display: block;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .repositors {
    justify-content: center;
  }
  .image {
    justify-self: center;
  }

  .img {
    width: 50%;
  }

  .grid_testimonial {
    grid-template-columns: 1fr;
  }

  .testimonial_right {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  /*? mobile_navigation  */

  .btn_mobile_tag {
    display: block;
  }

  .icon_mobile_nav {
  }

  .nav_links {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(255, 255, 255, 0.97);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    transform: translateX(100%);
    font-size: 3rem;
    /* hide navigacion */
    /* 1) hide is visually */
    opacity: 0;

    /* 2) hide it unaccessible to mouse and keibord */
    pointer-events: none;

    /* 3) hide it from screen readers */
    visibility: hidden;
  }

  .links {
    flex-direction: column;
    gap: 6.4rem;
  }

  .nav_open .nav_links {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav_open .icon_mobile_nav[name="close-outline"] {
    display: block;
  }

  .nav_open .icon_mobile_nav[name="menu-outline"] {
    display: none;
  }
  .links li a {
    color: #333;
    font-size: 1.6rem;
    font-size: 3rem;
  }
}

/* 

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
